<a href="https://colab.research.google.com/github/DLPY/Regression-Session-1/blob/master/Copy_of_Simple_Linear_Regression_(Diamonds).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Import Pandas, Pyplot and Read Data

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

# CSV is first read in from a github raw file another option is to import the notebook to your session storage by click on the file icon on left toolbar then importing csv
! wget https://raw.githubusercontent.com/DLPY/Regression-Session-1/master/Data/Diamonds.csv

--2021-10-20 13:44:50--  https://raw.githubusercontent.com/DLPY/Regression-Session-1/master/Data/Diamonds.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2103200 (2.0M) [text/plain]
Saving to: ‘Diamonds.csv.1’

Diamonds.csv.1      100%[===================>]   2.00M  --.-KB/s    in 0.04s

2021-10-20 13:44:50 (57.3 MB/s) - ‘Diamonds.csv.1’ saved [2103200/2103200]

In [8]:
# Once we have the csv file pd.read_csv() converts it to a pandas dataframe
# https://medium.com/swlh/exploratory-data-analysis-21bbf3887e28#:~:text=R%20diamond.csv%20dataset%20includes%20approximately%2054K%20observations%20with,messy%20data.%20Structure%20of%20the%20dataset%20%28R%20lang%29
df = pd.read_csv('Diamonds.csv')

## 2. Investigating the Data

In [9]:
# First five columns 
df.head()

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    1      1        8   61.5   55.0    326  3.95  3.98  2.43
1   0.21    5      1        7   59.8   61.0    326  3.89  3.84  2.31
2   0.23    2      1        4   56.9   65.0    327  4.05  4.07  2.31
3   0.29    5      6        6   62.4   58.0    334  4.20  4.23  2.63
4   0.31    2      7        8   63.3   58.0    335  4.34  4.35  2.75

In [10]:
# check types, nulls and counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  int64
 2   color    53940 non-null  int64
 3   clarity  53940 non-null  int64
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(4)
memory usage: 4.1 MB

In [11]:
# investigate the variability of the numeric columns
df.describe()

              carat           cut  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean       0.797940      2.651168  ...      5.734526      3.538734
std        0.474011      1.618643  ...      1.142135      0.705699
min        0.200000      1.000000  ...      0.000000      0.000000
25%        0.400000      1.000000  ...      4.720000      2.910000
50%        0.700000      3.000000  ...      5.710000      3.530000
75%        1.040000      5.000000  ...      6.540000      4.040000
max        5.010000      5.000000  ...     58.900000     31.800000

[8 rows x 10 columns]

## 3. Split the dataset to prepare for training 

---

In [12]:
# Independent Variable
X = df.drop(['price'],axis=1).values

# Depenedent Variable
y = df.price.values

# Split Observations in 75% training set 25% test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state=21)

## 4. Train the model

In [13]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() 
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
# Coefficient and Intercept
print(regressor.coef_)
print(regressor.intercept_)

[10643.23691904   -20.07556511  -280.94762745  -316.87575069
  -141.68549532   -66.5021964   -919.64177176    41.3711392
   -20.36062012]
15911.997087838132

## 5. Predict the test values and Calculate Error

In [15]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Predict test set from model built during training 
y_pred = regressor.predict(X_test)

array([  -37.317628  ,  3069.76840455,  1310.06402889, ...,
       12413.87338598,  2395.26493095,  -289.65783659])

In [16]:
# Mean Squared Error Average ((y_pred - y_test)^2)
mse = mean_squared_error(y_pred, y_test)

# Root Mean Squared Error - Root of above
rmse = np.sqrt(mse)

# Print Results
print("Linear Regression MSE: {}".format(mse))
print("Linear Regression RMSE: {}".format(rmse))

from sklearn.metrics import r2_score
rsquared = r2_score(y_pred, y_test)
print("Coefficient of determination(r^2): {}".format(rsquared))

Linear Regression MSE: 1647863.0937568366
Linear Regression RMSE: 1283.6911987533592
Coefficient of determination(r^2): 0.8808957737875044

In [19]:
import statsmodels.api as sm
Regression = sm.OLS(endog = y, exog = X).fit()
print(Regression.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.944
Model:                            OLS   Adj. R-squared (uncentered):              0.944
Method:                 Least Squares   F-statistic:                          1.011e+05
Date:                Wed, 20 Oct 2021   Prob (F-statistic):                        0.00
Time:                        13:48:56   Log-Likelihood:                     -4.6432e+05
No. Observations:               53940   AIC:                                  9.287e+05
Df Residuals:                   53931   BIC:                                  9.287e+05
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          9850.0713     52.162    188.836      0.000    9747.833    9952.309
x2           -54.7960      3.999    -13.701      0.000     -62.635     -46.957
x3          -279.3154      3.405    -82.023      0.000    -285.990    -272.641
x4          -327.5384      2.955   -110.858      0.000    -333.329    -321.747
x5            29.9044      2.229     13.419      0.000      25.536      34.272
x6             6.5996      2.461      2.681      0.007       1.775      11.424
x7          -341.2148     35.153     -9.707      0.000    -410.115    -272.314
x8           116.8803     22.538      5.186      0.000      72.706     161.054
x9          -545.7391     36.862    -14.805      0.000    -617.990    -473.489
==============================================================================
Omnibus:                    12625.111   Durbin-Watson:                   1.119
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           633155.888
Skew:                          -0.233   Prob(JB):                         0.00
Kurtosis:                      19.778   Cond. No.                         842.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Get a Prediction