<a href="https://colab.research.google.com/github/DLPY/Regression/blob/master/Linear_Regression_Simple_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Packages

In [1]:
import pandas as pd
import sklearn.linear_model

## Create Data: a = 3 b = 2 c = 1

In [2]:
# build the test data 

a = [1,2,3,4,5,1,0]  
b = [2,1,5,3,7,2,2]
c = [6,3,4,5,7,1,1]
tot = [13,11,23,23,36,8,5]

df = pd.DataFrame({'a':a,'b':b,'c':c,'tot':tot})
df

   a  b  c  tot
0  1  2  6   13
1  2  1  3   11
2  3  5  4   23
3  4  3  5   23
4  5  7  7   36
5  1  2  1    8
6  0  2  1    5

## Create Linear Regression Model

In [3]:
# Assign the Training Data
X = df[['a','b','c']]
y = df.tot

# Select a linear model
model = sklearn.linear_model.LinearRegression()

# Train the model
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Test Model Accuracy

In [4]:
# Make a prediction 
X_new = [[1,1,1],[2,2,2],[3,3,3],[4,4,4],[5,5,5],[6,6,6],[20,2,10]]  

print('Predictions')
print(model.predict(X_new))

print('Predictions - Actuals')
print(model.predict(X_new)-[6,12,18,24,30,36,74])

Predictions
[ 6. 12. 18. 24. 30. 36. 74.]
Predictions - Actuals
[-4.44089210e-15 -1.77635684e-15  0.00000000e+00  3.55271368e-15
  3.55271368e-15  7.10542736e-15  0.00000000e+00]