<a href="https://colab.research.google.com/github/DLPY/Regression-Session-1/blob/master/Simple_Linear_Regression_(Two_Variables).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Import Pandas, Pyplot and Read Data

In [12]:
import pandas as pd
import matplotlib.pyplot as plt

# CSV is first read in from a github raw file another option is to import the notebook to your session storage by click on the file icon on left toolbar then importing csv
! wget https://raw.githubusercontent.com/DLPY/Regression-Session-1/master/Data/Salary.csv

--2021-10-14 13:57:57--  https://raw.githubusercontent.com/DLPY/Regression-Session-1/master/Data/Salary.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 454 [text/plain]
Saving to: ‘Salary.csv.1’

Salary.csv.1        100%[===================>]     454  --.-KB/s    in 0s

2021-10-14 13:57:57 (22.8 MB/s) - ‘Salary.csv.1’ saved [454/454]

In [13]:
# Once we have the csv file pd.read_csv() converts it to a pandas dataframe
df = pd.read_csv('Salary.csv')

## 2. Investigating the Data

In [14]:
# First five columns 
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [15]:
# check types, nulls and counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [16]:
# investigate the variability of the numeric columns
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

## 3. Split the dataset to prepare for training

In [17]:
# Independent Variable
X = df.drop(['Salary'],axis=1).values

# Depenedent Variable
y = df.Salary.values

# Split Observations in 75% training set 25% test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state=21)

## 4. Train the model

In [18]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression() 
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
# Coefficient and Intercept
print(regressor.coef_)
print(regressor.intercept_)

[9424.08936678]
24773.05516926734

## 5. Predict the test values and Caluclate Error

In [20]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Predict test set from model built during training 
y_pred = regressor.predict(X_test)
y_pred

array([ 52102.91433294, 102050.58797689,  99223.36116686, 121841.17564714,
        37024.37134609,  91684.08967343])

In [23]:
# Mean Squared Error Average ((y_pred - y_test)^2)
mse = mean_squared_error(y_pred, y_test)

# Root Mean Squared Error - Root of above
rmse = np.sqrt(mse)

# Print Results
print("Linear Regression MSE: {}".format(mse))
print("Linear Regression RMSE: {}".format(rmse))

from sklearn.metrics import r2_score
rsquared = r2_score(y_pred, y_test)
print("Coefficient of determination(r^2): {}".format(rsquared))

Linear Regression MSE: 48542473.243403405
Linear Regression RMSE: 6967.242872428333
Coefficient of determination(r^2): 0.9447618020931665

# Visualise the Test Set

In [ ]:
# Plot Real Points
plt.scatter(X_train, y_train, color = 'red')
# Plot Prediciton Line
plt.plot(X_train, regressor.predict(X_train), color = 'blue')
plt.title('Salary vs Experience (Training set)')
plt.xlabel('Years of Experience')
plt.ylabel('Salary')
plt.show()

## Visualise the test set

In [ ]:
# Plot Real Points
plt.scatter(X_test, y_test, color = 'red')
# Plot Prediction Line
plt.plot(X_test, regressor.predict(X_test), color = 'blue')
plt.title('Salary vs Experience (Training set)')
plt.xlabel('Years of Experience')
plt.ylabel('Salary')
plt.show()

In [ ]:
# Displaying Results and Difference in Table 
res = pd.DataFrame(y_pred, y_test)
res = res.reset_index()
res.columns = ['Salary', 'Prediction']
res['Prediction'] = round(res['Prediction'],0)
res['Difference'] = res['Salary'] - res['Prediction']
res